a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 2.3rem;
    font-weight: 700;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 5%;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 5rem;
    padding: 0 13%;
    height: 125px;
}

.items {
    padding: 0 3%;
}

.navbar:hover {
    border-bottom: 3px solid #ff7d1b;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.avatar {
    height: 50px;
    width: auto;
}

.cart {
    height: 30px;
    width: auto;
}

@media  screen and (max-width: 950px) {
    .items {
        display: none;
    }
    hr {
        display: none;
    }
}