.container {
    background-color: gray;
    columns: 2;
    display: flex;
}

.col {
    margin: 0 auto;
    background-color: green;
    width: 50%;
    
}

.productdetails { 
    background-color: red;
}

.product1 {
    height: 25%;
    width: auto;
}

.miniProduct {
    height: 100px;
    width: 100px;
}