.container {
    background-color: gray;
    columns: 2;
    display: flex;
}

.col {
    margin: 0 auto;
    background-color: brown;
    
}

.productdetails { 
    background-color: red;
}

.product1 {
    height: 25%;
    width: auto;
}